body {
	overflow-y: scroll;
	background: #f2f2f2;
}

.menu {
	border-top: 1px solid #cbcbcb;
	position: fixed;
	z-index: 999;
	bottom: 0;
	width: 100%;
	background: #ffffff;
	line-height: 23px;
}

.menu .md-button {
	text-align: center;
	float: left;
	list-style-type: none;
	padding: 4px 12px;
	border: none;
	border-top: 2px solid #ffffff;
	color: #000;
	width: 25%;
	border-radius: 0;
	text-transform: uppercase;
	background: #ffffff;
	outline: none !important;
}

.menu .md-button:last-of-type {
	border-right: none
}

.menu .bottom-nav a {
	color: #000;
}

.menu .bottom-nav .active a {
	color: red;
}

.menu .md-button span {
	display: block;
}

.menu .md-button.active {
	border-top: 2px solid #00bad2;
	background: #f2f2f2;
}

.header {
	border-bottom: 1px solid #0093a6;
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	background: #00bad2;
	color: #fff;
	font-size: 18px;
	line-height: 45px;
}

.container-view {
	position: relative;
	margin: 46px 0;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.5;
}

.panel {
	background: #f2f2f2;
	color: rgb(66, 94, 106);
	font-family: 'trebuchet ms';
	font-size: 14px;
	line-height: 20px;
	text-shadow: 0px 1px rgb(255, 255, 255);
}

.panel-body {
	padding: 0px;
}

.panel span > p,
.panel ul,
.signs-overview li {
	list-style-type: none;
	margin: 10px 0 1px 0;
	border-radius: 2px;
	padding: 20px 15px;
	background: #ffffff;
	color: #000000;
	border: 0;
	border-bottom: 1px solid rgb(204, 204, 204);
	box-shadow: 0 1px 1px #e2e2e2;
}

.signs-overview {
	background: #f2f2f2;
}

.signs-overview img {
	margin: 0 10px;
}

.signs-overview li {
	padding: 16px;
}

.panel ul {
	margin-top: -14px;
	border-top: 1px solid rgb(204, 204, 204);
	padding-top: 10px;
	padding-left: 25px;

}

.panel li {
	margin-bottom: 10px;
}

.sign-category div {

}

.sign-category div span {
	display: block;
	line-height: 40px;
}

.navbar {
	background: #404855;
	color: #ffffff;
	border: 0;
}

.main-nav span {
	color: #ffffff;
	line-height: 47px;
	font-size: 22px;
	padding: 0 14px;
	border-right: 1px solid rgb(95, 95, 95);
	box-shadow: 1px 0 0px rgb(65, 65, 65);
	float: left;
	content: '';
}

.main-nav span:hover {
	background: rgb(117, 117, 117);
	text-decoration: none;
}

.container-fluid {
	padding: 0
}

.list-group {
	background: #fff;
}

a.list-group-item,
.list-group-item {
	display: block;
	padding: 10px 20px;
	background: #fff;
	color: #000000;
	border: 0;
	margin-bottom: 1px;
	border-bottom: 1px solid #ececec;
	line-height: 35px
}

a.list-group-item:last-of-type,
.list-group-item:last-of-type {
	border-bottom: none;
	margin-bottom: 1px;
	box-shadow: none;
}

a.list-group-item:hover,
.list-group-item:hover {
	/*background: #f2f2f2;*/
	/*color: #000000;*/
}

ul {
	padding: 0;
}

a:hover {
	text-decoration: none;
}

.sign-category {
	color: #ffffff;
}

.sign-category:hover {
	color: #ffffff;
}

.ribbon {
	width: 70%;
	height: 45px;
	margin: 0 auto;
	display: block;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-justify {
	text-align: justify !important;
}

.search {
	padding: 0 16px;
}

.search-form {
	position: relative;
}

.search-ico {
	position: absolute;
	left: 7px;
	top: 13px;
	color: #ffffff;
}

.search-input {
	display: inline-block;
	outline: none;
	border: 0;
	background: #00bad2;
	color: #ffffff;
	width: 100%;
	padding-left: 36px;
	border-radius: 2px;
	border-bottom: 1px solid #ffffff;
	line-height: normal;
	margin: 0;
}

.search-submit {
	position: absolute;
	right: 7px;
	top: 12px;
}

::-webkit-input-placeholder {
	color: #e3e3e3;
}

::-moz-placeholder {
	color: #e3e3e3;
}

/* Firefox 19+ */
:-moz-placeholder {
	color: #e3e3e3;
}

/* Firefox 18- */
:-ms-input-placeholder {
	color: #e3e3e3;
}

.exit-div {
	color: #fff;
	background: #4d4d4d;
	position: fixed;
	bottom: 2%;
	right: 10%;
	width: 80%;
	text-align: center;
	z-index: 9999;
	opacity: 0.8;
	border-radius: 4px;
}

.name-div {
	text-overflow: ellipsis;
}

.disable-hover,
.disable-hover * {
	pointer-events: none !important;
}

.fine {
	display: block;
	border-top: 1px solid #cccccc;
	margin: 0 -15px;
	margin-bottom: -20px;
	padding: 0 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	color: #737373;
	line-height: 24px;
}

.fine-desc {
	display: block;
	line-height: 24px;
	margin-bottom: 6px;
}

.sign-category-name-image {
	text-align: center;
	width: 75px;
}

.sign-category-overview {
	width: 100%;
}

.sign-category-overview td {
	padding: 12px 16px;
}

.sign-category-name {
	padding: 10px 12px;
	border-bottom: 1px solid #f2f2f2;
}

.search-item a {
	color: #000000;
}

.search-item p {
	display: block;
	padding: 10px 20px;
	background: #fff;
	color: #000000;
	border: 0;
	margin-bottom: 1px;
	border-bottom: 1px solid #ececec;
	line-height: 35px;
}

.search-caption {
	display: block;
	font-weight: bold;
}

.search-text {
	color: #525252;
	text-shadow: none;
}